* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  background: olivedrab;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 8%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  font-size: 28px;
}

.logo h2 {
  font-size: 28px;
}

.nav {
  display: flex;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-weight: 500;
  transition: 0.3s;
}

.nav a:hover {
  color: #f4f4f4;
  border-bottom: 2px solid white;
  padding-bottom: 4px;
}

.menu-icon {
  display: none;
  font-size: 25px;
  cursor: pointer;
}

/* Mobile */

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav {
    position: absolute;
    top: 75px;
    left: -100%;
    width: 100%;
    background: olivedrab;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 20px 0;
    transition: 0.4s;
  }

  .nav.active {
    left: 0;
  }

  .nav a {
    display: block;
    font-size: 18px;
  }
}